<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ReWire</string>
	<key>CFBundleIdentifier</key>
	<string>se.propellerheads.rewire.library</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.5 build 135 TESTING VERSION</string>
	<key>CFBundleSignature</key>
	<string>ReWi</string>
	<key>CFBundleVersion</key>
	<string>1.8.5</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>4.2</string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>9L31a</string>
	<key>DTSDKName</key>
	<string>macosx10.5</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>NSHumanReadableCopyright</key>
	<string>©2000-2012 Propellerhead Software AB, all rights reserved.</string>
	<key>PropellerheadBuildFlavor</key>
	<string>Testing</string>
	<key>PropellerheadBuildNumber</key>
	<string>135</string>
</dict>
</plist>
