<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>vst</string>
	<key>CFBundleIdentifier</key>
	<string> com.ax.eq</string>
	<key>CFBundleGetInfoString</key>
	<string>vst</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>1029</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Alexandre Arsenault. All rights reserved.</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string></string>
	</array>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
</dict>
</plist>
